html {
  background: crimson;
  min-height: 100%;
}
body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}

.loader {
  display: flex;
  position: relative;
}

.loader > span {
  animation: float 1.4s linear infinite;
  border-radius: 10px;
  height: 300px;
  margin: 20px;
  padding: 5px;
  width: 50px;
}

.loader > span:nth-child(1) {animation-delay: 0s;}
.loader > span:nth-child(2) {animation-delay: 0.2s;}
.loader > span:nth-child(3) {animation-delay: 0.4s;}
.loader > span:nth-child(4) {animation-delay: 0.6s;}
.loader > span:nth-child(5) {animation-delay: 0.8s;}
.loader > span:nth-child(6) {animation-delay: 1s;}
.loader > span:nth-child(7) {animation-delay: 1.2s;}
.loader > span:nth-child(8) {animation-delay: 1.4s;}


@keyframes float {
  0% {
    box-shadow: 0 0 0px rgba(0,0,0,0);
    opacity: 0;
    transform: translateX(-50px) scale(1);
  }
  50% {
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    opacity: 1;
    transform: translateX(0px) scale(1.2);
  }
  100% {
    box-shadow: 0 0 0px rgba(0,0,0,0);
    opacity: 0;
    transform: translateX(50px) scale(1);
  }
}